.login {
  height: 97vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.login-heading-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-heading {
  font-size: 3rem;
}

.nonactive-label {
  color: var(--color-page-dark);
}
