.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.username {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--color-heading);
}

.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
