.dice-row {
  min-height: 9rem;
  display: flex;
  gap: 1rem;
  border-radius: 12px;
  padding: 1rem;
  border: 3px solid var(--color-page-dark);
  box-shadow: inset 0px 0px 10px var(--color-page-dark);
  align-items: center;
  align-content: center;
}
